<h2 ng-controller='AdminController'>ADMIN PAGE</h2>
<button ng-click="home()" class='logout'>SignOut</button>
<div class='addBook'>
	<H3>ADD A BOOK</H3>
	<input placeholder='book title' ng-model='book.title'>
	<input placeholder='book author'ng-model='book.author'>
	<input placeholder='book price' ng-model='book.price'>
	<input placeholder='inventory in stock' ng-model='book.quantity'>

	<button ng-click='addBook(book)' ng-model='book'>{{addBook}}submit</button>
</div>
<div class='books'>
	<input type="text" placeholder="Filter Books" ng-model="search">
	<div class='book-item' ng-repeat = 'book in books | filter:search'>

		<button ng-click='deleteBook(book)'>delete</button>
		<button ng-click='updateBook(book)'>update</button>
		<img class='icon' ng-src="css/book.png">
		<span>price: </span><input placeholder='{{book.price | currency}}' ng-model='book.price'>
		<span>Inventory: </span><input placeholder='{{book.quantity}}' ng-model='book.quantity'>
		<span>{{book.title}}</span>
		<span>{{book.author}}</span>
		<p></p>
	</div>
</div>
