body {
	/*min-width: 500px;*/
	background-color:#f6e8bc;

}
input {
	margin-bottom:20px;
}
button {
	/*text-align:center;*/
	/*padding-top: 20px;*/
	background: linear-gradient(45deg,#D95B43,#A62208);
	opacity: 0.7;
	color:white;
	border-radius: 5px;
	/*padding: 10px;*/
	/*max-height: 15px;*/
}
.signin {
	margin-left: 25px;
}

.app {
	padding:0px;
	/*background-color:blue;*/
}
.site-title {
	background-image:url(book.jpg);
	background-size: 100%;
	margin: 0;
	padding: 50px 0px 10px 0;
	min-height:400px;
}
.site-title h1 {
	padding: 0;
	margin: 150px 0 0 20px;
	font-size: 160px;
	color: white;
	opacity: 0.7;
	font-weight:bold;
}

.icon {
	background-size: 10px;
	width: 25px;
	height: 25px;
}
.booklist {

}
.booklist button {

	/*float: left;*/
	/*display: inline;*/
}
.book-item {
  height: 30px;
	margin-bottom: 0px;
}
.book-item .title {
	font-size: 20px;
	text-decoration: underline;
}
.book-item .author {
	font-size: 15px;
	margin-left:10px;
}
.book-item .price {
	font-size: 15px;
	margin-left:10px;
}
.book-item .stock {
	font-size: 10px;
	margin-left:10px;
	font-style: italic;
}
.cart-book {
	/*margin-left: 10px;*/
	margin:0;
}
.books {
	padding: 0 0 0 25px;
}
.cart {
	padding:0px 0px 0px 0px;
	/*min-width:200px;*/
	/*background:;*/
	/*width: 45%;*/
	/*margin-right: 0;*/
}
.cart-container{
	background-color: rgba(255,255,255,0.1);

	text-align: right;
	float: right;
	padding: 0;
	margin: 50px 20px 0 0;
}
.cart-container span{
	font-weight: bold;
	font-size: 25px;
	opacity:0.8;
}
.cart button {
	/*width:51%;*/
	/*float: right;*/
}
.filter {
	margin-top: 20px;
}
.total {
	/*vertical-align: text-top;*/
	font-size:25px;
	/*padding-top:20px;*/
	margin-left: 5%;
}
.quantity {
	font-size: 10px;
	font-weight: none;
	margin-left: 0px;
	/*float: right;*/
}
