<div class='cart'>
	<button ng-click='toggleCart()'>toggle cart</button>
	<button ng-click='cart.empty()'>empty cart</button>
	<button ng-click='cart.empty()'>check out</button>
	<p>Total: </p><p> ${{cart.price()}}</p>
	<a href="#">SignOut</a>
	<div class='cart-container'>
  	<p class='cart-book' ng-hide='showCart' ng-repeat='book in cart.books' ng-click='cart.removeBook($index)'><span class='total'>{{book.title}}</span> by {{book.author}} <span class='quantity'> qty. {{book.count}}</span></p>
	</div>
</div>